{% load i18n %}
<div class="freetextresponse xmodule_display xmodule_CapaModule problem">
    <h3 class="problem-header">{{ display_name }}</h3>
    <div class="problem-progress" style="display: none;">{{ problem_progress }}</div>
    <p>{{ prompt|safe }}</p>
    <div class="word-count-message">{{ word_count_message }}</div>
    <div class="capa_inputtype textline">
      {% if not is_graded %}
        <div class="user_input {{ indicator_class }}">
            <textarea class="student_answer" rows="20">{{ student_answer }}</textarea>
            <span class="status {{ visibility_class }}" aria-describedby="student_answer"></span>
        </div>
        {%else%}
          <p>Your answer is {{student_answer}}</p>
          <p>Grade scored is {{ problem_progress }}</p>
          {% if student_submission.comment %}
            <p>Instructor comments are {{student_submission.comment}} </p>
          {%endif%}
        {%endif%}
    </div>
    {% if display_other_responses %}
        <input class="messageCheckbox" type="checkbox" checked>
            <span>{% trans "Allow my response to possibly be visible by other learners after submitting their response" %}</span>
        <br>
    {% endif %}
    <div class="capa_alert submission-received">{{ submitted_message }}</div>
    <div class="action">
        {% if not is_past_due %}
            <button class="check Submit {{ nodisplay_class }}" data-checking="{% trans "Checking..." %}" data-value={% trans "Submit" %}>
                {% trans "Submit" %}
            </button>
            <button class="save {{ nodisplay_class }}" data-checking="{% trans "Checking..." %}" data-value={% trans "Save" %}>
                {% trans "Save" %}
            </button>
        {% endif %}
        <div class="used-attempts-feedback" aria-live="polite">{{ used_attempts_feedback }}</div>
    </div>
    <div class="capa_alert user_alert">{{ user_alert }}</div>
    {% if display_other_responses %}
        <div class="responses-box {% if not student_answer %}hidden{% endif %}">
            <button class="hide-button">
                <span class="hide">{% trans "Hide" %}</span>
                <span class="show">{% trans "Show" %}</span>
                <span class="sr">{% trans "peer responses" %}</span>
            </button>
            <p class="responses-title">{% trans "Submissions by others" %}</p>
            <ul class="response-list" data-noresponse="{% trans "No responses to show at this time" %}">
                {% for response in other_responses %}
                    <li class="other-student-responses">{{ response.answer }}</li>
                {% empty %}
                    <li class="no-response">{% trans "No responses to show at this time" %}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>

{%  if loggedin_user.is_staff %}
	<div aria-hidden="true" class="wrap-instructor-info">
		<a class="instructor-info-action" id="grade-submissions-button" href="#grade-{{block_id}}">Grade Submissions</a>
  	</div>
{%endif%}
<section aria-hidden="true" class="modal staff-modal grade-submission" id="grade-{{block_id}}" style="height: auto; position: fixed; opacity: 1; z-index: 11000; left: 30%; margin-left: -402px; top: 22px; max-height: 600px;" tabindex="-1">
    <div class="inner-wrapper" style="color: black; overflow: auto;">
      <header><h2><span class="display_name">Free Text Response</span></h2></header>
      <br>
      <div>
        <a class="instructor-info-action button btn-download-all"  onclick="exportTableToExcel('{{block_id}}');" id="download-init-button">Download All Submissions</a>
      </div>
      <p class="task-message"></p>
      <div id="grade-info" style="display: block;">
{%  if loggedin_user.is_staff %}

    <table class="gridtable tablesorter" id="submissions" border="1">
      <thead>
      <tr>
        <th class="header">Username <i class="icon fa fa-sort"></i></th>
        <th class="header headerSortDown">Name <i class="icon fa fa-sort"></i></th>
        <th class="header headerSortDown">Student Answer <i class="icon fa fa-sort"></i></th>
        <th class="header">Grade <i class="icon fa fa-sort"></i></th>
        <th class="header">Instructor's comments <i class="icon fa fa-sort"></i></th>
        <th style="display: none;" class="hide_row">Module ID</th>
        <th style="display: none;" class="hide_row">User ID</th>
        <th class="header hide_row" colspan="2" >Actions</th>
        <th class="header hide_row" style="display: none;" >Submission ID</th>
      </tr>
      </thead>
      <tbody>
            {% for submission in users_submissions.submissions %}
                <tr>
                    <td>{{submission.username}}</td>
                    <td>{{submission.firstname}}</td>
                    <td><span style="display: block; width: 100px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;border: none;">{{submission.student_answer}}</span></td>
                    {% if submission.score %}
                      <td id="grade-{{submission.module_id}}">{{submission.score}}/{{submission.max_points}}</td>
                      <td id="comment-{{submission.module_id}}">{{submission.comments}}</td>
                    {%else%}
                      <td id="grade-{{submission.module_id}}"></td>
                      <td id="comment-{{submission.module_id}}"></td>
                    {%endif%}
                    
                    <td style="display: none;" class="hide_row">{{submission.module_id}}</td>
                    <td style="display: none;" class="hide_row">{{submission.student_id}}</td>
                    <td><a class="enter-grade-button button hide_row" href="#enter-grade-{{ block_id }}">Edit Grade</a></td>
                    <td style="display: none;" class="hide_row">{{submission.submission_id}}</td>
                </tr>
            {%endfor%}

	</tbody>
    </table>
    <section aria-hidden="true" class="modal grade-modal" id="enter-grade-{{ block_id }}" tabindex="-1" >
        <div class="inner-wrapper" style="color: black;height: 324px;overflow-y: scroll;">
          <header><h2>
            {% trans "Enter Grade" %}
          </h2></header>
          <br/>
          <div style="display: block;">
            <form id="enter-grade-form">
              <input id="module_id-input" type="hidden" name="module_id"/>
              <input id="submission_id-input" type="hidden" name="submission_id"/>
              <div>{% blocktrans with student_name="<span id='student-name'/>" %}Grade for {{student_name}}{% endblocktrans %}</div><br>
              <p><b>{% trans "Student Answer:" %} </b><span id="student_answer"></span></p>
              <div><b>{% trans "Grade:" %}</b> <input id="grade-input" name="grade"/>
                <span class="error"></span></div>
              <div><b>{% trans "Comment:" %}</b> <textarea id="comment-input" name="comment" rows="4"></textarea></div>
              <div>
                <button type="submit">{% trans "Submit" %}</button>
                <button type="button" id="enter-grade-cancel">
                  {% trans "Cancel" %}
                </button>
                <button type="button" id="remove-grade">
                  {% trans "Remove grade" %}
                </button>
                <i class="fa fa-spinner fa-pulse ccx-enter-grade-spinner"></i>
              </div>
            </form>
          </div>
        </div>
      </section>
   {%endif%}
  </div>
    </div>
  </section>
